---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../layouts/Header.astro";
import ActEn from "../../components/astro/programa/ActEn.astro";
import Tittle from "../../components/astro/text/Tittle.astro";

const title = "Program";

const Eje1 = "Gender, Inclusion, and Marginalized Groups";
const Eje2 = "Migration: Violence and Criminalization";
const Eje3 = "IA & TE";
const Eje4 = "Life Skills";
const Eje5 = "Sustainability";
---

<BaseLayout title={title}>
  <Header color="f6f6f6" height="75vh">
    <h1
      class="text-center font-bold uppercase text-azul text-6xl md:text-7xl lg:text-9xl pb-6"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="300"
    >
      Program
    </h1>
    <div
      class="flex justify-center pb-4"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="300"
    >
      <hr class="w-1/2 border-oro border-2" />
    </div>
  </Header>
  <section class="my-16 px-4">
    <nav
      class="tabs space-x-1 overflow-x-auto shadow-xl"
      aria-label="Tabs"
      role="tablist"
      aria-orientation="horizontal"
    >
      <button
        type="button"
        class="grow btn btn-text active-tab:bg-azul active-tab:text-white hover:text-azul active hover:bg-oro/20"
        id="tabs-fill-item-1"
        data-tab="#tabs-fill-1"
        aria-controls="tabs-fill-1"
        role="tab"
        aria-selected="false"
      >
        Monday 23
      </button>
      <button
        type="button"
        class="grow btn btn-text active-tab:bg-azul active-tab:text-white hover:text-azul hover:bg-oro/20"
        id="tabs-fill-item-2"
        data-tab="#tabs-fill-2"
        aria-controls="tabs-fill-2"
        role="tab"
        aria-selected="false"
      >
        Tuesday 24
      </button>
      <button
        type="button"
        class="grow btn btn-text active-tab:bg-azul active-tab:text-white hover:text-azul hover:bg-oro/20"
        id="tabs-fill-item-3"
        data-tab="#tabs-fill-3"
        aria-controls="tabs-fill-3"
        role="tab"
        aria-selected="false"
      >
        Wednesday 25
      </button>
      <button
        type="button"
        class="grow btn btn-text active-tab:bg-azul active-tab:text-white hover:text-azul hover:bg-oro/20"
        id="tabs-fill-item-4"
        data-tab="#tabs-fill-4"
        aria-controls="tabs-fill-4"
        role="tab"
        aria-selected="false"
      >
        Thursday 26
      </button>
    </nav>

    <div class="pt-16">
      <div id="tabs-fill-1" role="tabpanel" aria-labelledby="tabs-fill-item-1">
        <div class="grid grid-cols-2 px-4 md:px-16 xl:px-64">
          <!-- Lunes -->
          <ActEn titulo="Registration" horario="9:00-9:15" />
          <ActEn titulo="Inauguration" horario="09:15-09:30" />
          <ActEn
            tag={Eje1}
            titulo="Keynote Lecture A (AM)"
            horario="10:00-11:00"
          />
          <ActEn
            tag={Eje1}
            titulo="Conference A"
            horario="11:00-11:30"
            presentadores="TBD"
          />
          <ActEn
            tag={Eje1}
            titulo="Conference B"
            horario="11:30-12:00"
            presentadores="TBD"
          />
          <ActEn titulo="Coffee" horario="12:00-12:15" />
          <ActEn tag="POSTERS" titulo="POSTERS" horario="12:15-13:30" />
          <ActEn tag="Workshop" titulo="Workshop" horario="13:30-15:00" />
          <ActEn titulo="Break/Lunch" horario="15:00-17:00" />
          <ActEn
            tag={Eje1}
            titulo="Keynote Lecture A (PM)"
            horario="17:00-18:00"
            presentadores="TBD"
          />
          <ActEn
            tag="Parallel talk"
            titulo="Parallel talk"
            horario="18:00-18:30"
          />
          <ActEn titulo="POSTERS-AWARDS" horario="18:30-18:45" ultimo={true} />

          <div class="py-16">
            <Tittle
              title="Parallel talks: 18:00-18:30 h"
              subtitle=""
              color="oro"
            />
          </div>

          <ActEn titulo="Parallel talk (ROOM A)" />
          <ActEn titulo="Parallel talk (ROOM B)" />
          <ActEn titulo="Parallel talk (ROOM C)" />
          <ActEn titulo="Parallel talk (ROOM D)" ultimo={true} />

          <!-- Lunes -->
        </div>
      </div>
      <div
        id="tabs-fill-2"
        class="hidden"
        role="tabpanel"
        aria-labelledby="tabs-fill-item-2"
      >
        <div class="grid grid-cols-2 px-4 md:px-16 xl:px-64">
          <!-- Martes -->

          <ActEn
            tag={Eje2}
            titulo="Keynote Lecture B (AM)"
            horario="10:00-11:00"
            presentadores="TBD"
          />
          <ActEn
            tag={Eje2}
            titulo="Conference A"
            horario="11:00-11:30"
            presentadores="TBD"
          />
          <ActEn
            tag={Eje2}
            titulo="Conference B"
            horario="11:30-12:00"
            presentadores="TBD"
          />
          <ActEn titulo="Coffee" horario="12:00-12:15" />
          <ActEn tag="POSTERS" titulo="POSTERS" horario="12:15-13:30" />
          <ActEn tag="Workshop" titulo="Workshop" horario="13:30-15:00" />
          <ActEn titulo="Break/Lunch" horario="15:00-17:00" />
          <ActEn
            tag={Eje2}
            titulo="Keynote Lecture B (PM)"
            horario="17:00-18:00"
            presentadores="TBD"
          />
          <ActEn
            tag="Parallel talk"
            titulo="Parallel talk"
            horario="18:00-18:30"
          />
          <ActEn titulo="POSTERS-AWARDS" horario="18:30-18:45" ultimo={true} />

          <div class="py-16">
            <Tittle
              title="Parallel talks: 18:00-18:30 h"
              subtitle=""
              color="oro"
            />
          </div>

          <ActEn titulo="Parallel talk (ROOM A)" />
          <ActEn titulo="Parallel talk (ROOM B)" />
          <ActEn titulo="Parallel talk (ROOM C)" />
          <ActEn titulo="Parallel talk (ROOM D)" ultimo={true} />

          <!-- Martes -->
        </div>
      </div>
      <div
        id="tabs-fill-3"
        class="hidden"
        role="tabpanel"
        aria-labelledby="tabs-fill-item-3"
      >
        <div class="grid grid-cols-2 px-4 md:px-16 xl:px-64">
          <!-- Miércoles -->

          <ActEn
            tag={Eje3}
            titulo="Keynote Lecture C (AM)"
            horario="10:00-11:00"
            presentadores="TBD"
          />
          <ActEn
            tag={Eje3}
            titulo="Conference A"
            horario="11:00-11:30"
            presentadores="TBD"
          />
          <ActEn
            tag={Eje3}
            titulo="Conference B"
            horario="11:30-12:00"
            presentadores="TBD"
          />
          <ActEn titulo="Coffee" horario="12:00-12:15" />
          <ActEn tag="POSTERS" titulo="POSTERS" horario="12:15-13:30" />
          <ActEn tag="Workshop" titulo="Workshop" horario="13:30-15:00" />
          <ActEn titulo="Break/Lunch" horario="15:00-17:00" />
          <ActEn
            tag={Eje4}
            titulo="Keynote Lecture C (PM)"
            horario="17:00-18:00"
            presentadores="TBD"
          />
          <ActEn
            tag="Parallel talk"
            titulo="Parallel talk"
            horario="18:00-18:30"
          />
          <ActEn titulo="POSTERS-AWARDS" horario="18:30-18:45" ultimo={true} />

          <div class="py-16">
            <Tittle
              title="Parallel talks: 18:00-18:30 h"
              subtitle=""
              color="oro"
            />
          </div>

          <ActEn titulo="Parallel talk (ROOM A)" />
          <ActEn titulo="Parallel talk (ROOM B)" />
          <ActEn titulo="Parallel talk (ROOM C)" />
          <ActEn titulo="Parallel talk (ROOM D)" ultimo={true} />

          <!-- Miércoles -->
        </div>
      </div>
      <div
        id="tabs-fill-4"
        class="hidden"
        role="tabpanel"
        aria-labelledby="tabs-fill-item-4"
      >
        <div class="grid grid-cols-2 px-4 md:px-16 xl:px-64">
          <!-- Jueves -->

          <ActEn
            tag={Eje5}
            titulo="Keynote Lecture D (AM)"
            horario="10:00-11:00"
            presentadores="TBD"
          />
          <ActEn
            tag={Eje5}
            titulo="Conference A"
            horario="11:00-11:30"
            presentadores="TBD"
          />
          <ActEn
            tag={Eje5}
            titulo="Conference B"
            horario="11:30-12:00"
            presentadores="TBD"
          />
          <ActEn titulo="Coffee" horario="12:00-12:15" />
          <ActEn tag="POSTERS" titulo="POSTERS" horario="12:15-13:30" />
          <ActEn
            tag="Workshop"
            titulo="Análisis del Agua potable en tu hogar"
            horario="13:30-15:00"
          />
          <ActEn titulo="Break/Lunch" horario="15:00-17:00" />
          <ActEn
            tag={Eje5}
            titulo="Keynote Lecture D (PM)"
            horario="17:00-18:00"
            presentadores="TBD"
          />
          <ActEn
            tag="Parallel talk"
            titulo="Parallel talk"
            horario="18:00-18:30"
          />
          <ActEn
            titulo="POSTERS-AWARDS/Closing"
            horario="18:30-18:45"
            ultimo={true}
          />

          <div class="py-16">
            <Tittle
              title="Parallel talks: 18:00-18:30 h"
              subtitle=""
              color="oro"
            />
          </div>

          <ActEn titulo="Parallel talk (ROOM A)" />
          <ActEn titulo="Parallel talk (ROOM B)" />
          <ActEn titulo="Parallel talk (ROOM C)" />
          <ActEn titulo="Parallel talk (ROOM D)" ultimo={true} />

          <!-- Jueves -->
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
